a .logo {
    height: 75px;
    width: 75px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.wikimotos {
    position: absolute;
    top: 85px;
    left: 18px;
}

.logo:hover {
    outline: 2px solid #a4a4ff;
    border-radius: 50%;
}

.enlaces-internos a {
    color: rgb(20, 28, 76);
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0px 2px;
}

#wiki a {
    color: rgb(20, 28, 76);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

#wiki a:hover {
    color: rgb(11, 77, 193);
    text-decoration: underline;
}

.logos-redes-sociales {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   padding: 2px;
}

.bi-envelope {
    height: 25px;
    width: 25px;
}

.enlaces-bibliografia {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.logo-avatar {
    width: 100px;
    height: 100px;
    padding: 10px;
    position: relative;
    top: -20px;
}

#cambiar-avatar {
    position: relative;
    top: -45px;
}

.datos-personales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    position: relative;
    top: -45px;
}

.datos-personales input {
    margin-bottom: 10px;
    width: 250px;
}

.datos-personales input:last-child {
    height: 60px;
}

.datos-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    position: relative;
    bottom: 50px;
}

.datos-bottom button {
    position: relative;
    left: 137px;
}

.datos-bottom a {
    position: relative;
    right: 10px;
}


.grid-item-main h1 {
    margin: 10px;
}

.grid-item-main h3 {
    position: relative;
    bottom: 60px;
    margin: 10px;
}

.grid-item-main h5 {
    position: relative;
    bottom: 140px;
    margin: 10px;
}

.datos-publicidad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    position: relative;
    bottom: 200px;
    left: 10px;
}

.datos-publicidad input {
    margin-bottom: 10px;
}

.datos-publicidad button {
    width: 110px;
    position: relative;
    left: 290px;
}

.texto-nosotros p {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.galeria-partes-motos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.galeria-partes-motos div {
    background-color: red;
    display: inline-block;
}

.card {
    width: 290px;
    margin: 10px;
    padding: 20px 20px 0 20px;
}

.card img {
    width: 250px;
    height: 250px;
}

.grid-container {
    display: flex;
    align-items: center;
    height: 100px;
}

.buscador {
    width: 350px;
    position: absolute;
    left: 575px;
    top: 25px;
}

.main h1 {
margin: 20px;
}

.nav-item:nth-of-type(4) {
    width: 100px;
}